.hl-block {
    box-shadow: 0 0 7px #000000A0 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    background: #00495C;
    color: #EEE8D5;
}

/* Code snippets within an hl-block have different styling */
.reveal .hl-block pre code {
    background-color: #002B36 !important;
    font-size: 25px;
    line-height: 28px;
}

/* The first code block, which isn't a fragment, gets a shadow */
.reveal pre code:not(.fragment) {
    max-height: 600px;
    box-shadow: 0 0 7px #000000A0 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    background: #00495C;
}

/* Code fragments (i.e. the highlighted versions of a code block) don't get a shadow */
.reveal pre code.fragment {
    max-height: 600px;
    border-radius: 5px !important;
    padding: 10px !important;
    background: #00495C;
}

/* Highlighted code lines also have shadow behind them */
.highlight-line {
    text-shadow: 0 0 7px #00000080 !important;
}

.reveal pre {
    box-shadow: none;
    width: fit-content;
    height: fit-content;
}

/* Comparison tables */
.compare-columns tr th {
    border-bottom: 5px solid #0085A8;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    font-weight: 400;
}

.compare-columns tr td {
    border-bottom: none;
    vertical-align: top !important;
    font-size: 30px;
}

.compare-columns td {
    border-left: 5px solid #0085A8;
}

.compare-columns td:first-child {
    border-left: none;
}

/* Other specific text stuff */
aside.subtle {
    color: #0085A8;
    display: inline-block;
    font-size: 25px;
}

.huge-text {
    font-size: 100px;
}

.pretty-big-text {
    font-size: 80px;
}

.medium-text {
    font-size: 65px;
}

.left-align {
    text-align: left;
    padding: 40px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
    font-family: 'Roboto Slab', serif;
}

.reveal h6 {
    font-size: 35px;
}